<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">
		
		
		
		<bean id= "a1" class="com.ajeet.collectionInjection.properties.A">
		<property name="pr">
		<props>
		<prop key="Ajeet">Bihar</prop>
		<prop key="Kumar">Patna</prop>
		</props>
		
		</property>
		
		
		
		</bean>
		
		


	

</beans>